/* Fuentes */
@font-face {
  font-family: fantasiaFont;
  src: url(fonts/fantasiaFont.ttf);
}
@font-face {
  font-family: scifiFont;
  src: url(fonts/Paladins3D-1Kwg.otf);
}
@font-face {
  font-family: terrorFont;
  src: url(fonts/TheBashSingingSlashy-OVdmd.otf);
}
@font-face {
  font-family: historicoFont;
  src: url(fonts/InkPen.otf);
}
@font-face {
  font-family: postapoFont;
  src: url(fonts/apocalypse.regular.ttf);
}
@font-face {
  font-family: misterioFont;
  src: url(fonts/Mistery.otf);
}
/* ---- */
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #27282d;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  background-image: url(media/4k-3645263.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
.contenido{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;  
  flex-direction: column;
}
.icon {
  height: 100px;
  width: 100px;
}
h3{
  font-family: fantasiaFont;
  font-size: 80px;
  line-height: 40px;
  font-weight: bold;
  color: gold;
  margin: 16px 0 40px;
  text-shadow: 
  -1px -1px 0 black,  
   1px -1px 0 black,
   -1px 1px 0 black,
    1px 1px 0 black;
}
.tituloFontChange {
  font-family: fantasiaFont;
  font-size: 80px;
  font-weight: bold;
  animation-name: fontChange;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}
form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 24px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.result {
  display: flex;
  font-weight: bold;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
}
.resultTexto{
  color: white;
  font-size: 18px;
  width: 500px;
  border-radius: 8px;
  padding: 10px;
  background-color: #3b2b19;
  border-top: 4px ridge #ffb000;
  border-left: 4px groove #ffb000;
  border-right: 4px ridge #ffb000;
  border-bottom: 4px groove #ffb000;
  box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
}
p{
  font-size: 30px;
  font-weight: bold;
}
input[type="submit"]{
  margin: 10px auto;
  width: 150px;
  letter-spacing: 2px;
  border-radius: 8px;
  color: black;
  text-shadow: 0 1px 3px #000;
  text-align: center;
  padding: 10px 0;
  background: radial-gradient(circle, #8b0000, #8b0000);
  border-top: 4px ridge #ffb000;
  border-left: 4px groove #ffb000;
  border-right: 4px ridge #ffb000;
  border-bottom: 4px groove #ffb000;
  box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
  cursor: pointer;
}
input[type="submit"]:hover{
  background: radial-gradient(circle, #e52b2b, #8b0000);
  box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2);
  color: gold;
}
input[type="submit"]:active{
  background: radial-gradient(circle, #ec6a6a, #e52b2b);
  box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
}
button{
  margin: 5px;
  width: 130px;
  letter-spacing: 2px;
  border-radius: 8px;
  color: black;
  text-shadow: 0 1px 3px #000;
  text-align: center;
  padding: 10px 0;
  background: radial-gradient(circle, #8b0000, #8b0000);
  border-top: 4px ridge #ffb000;
  border-left: 4px groove #ffb000;
  border-right: 4px ridge #ffb000;
  border-bottom: 4px groove #ffb000;
  box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
  cursor: pointer;
}
button:hover{
  background: radial-gradient(circle, #e52b2b, #8b0000);
  box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2);
  color: gold;
}
button:active{
  background: radial-gradient(circle, #ec6a6a, #e52b2b);
  box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
}
.buttons {
  display: flex;
}
.fantasiaButton{
  font-family: fantasiaFont;
  font-size: 20px;
}
.scifiButton{
  font-family: scifiFont;
  font-size: 12px;
}
.terrorButton{
  font-family: terrorFont;
  font-size: 20px;
}
.historicoButton{
  font-family: historicoFont;
  font-size: 20px;
}
.postapoButton{
  font-family: postapoFont;
  font-size: 20px;
}
.misterioButton{
  font-family: misterioFont;
  font-size: 20px;
}
#imagen{
  height: 200px;
  width: 200px;
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer p{
  font-size: 12px;
  color: white;
}
.loading img{
  height: 80px;
  width: 80px;
}

/* Keyframes */
@keyframes fontChange {
  0% {
    font-family: fantasiaFont;
    color: #0f52ba;
  }
  16.67% {
    font-family: scifiFont;
    color: #00B8FF;
  }
  33.33% {
    font-family: terrorFont;
    color: #B30E08;
  }
  50% {
    font-family: historicoFont;
    color: black;
    font-weight: lighter;
  }
  66.67% {
    font-family: postapoFont;
    color:#f8f6f6;
  }
  83.33% {
    font-family: misterioFont;
    color: indigo;
  }
  100% {
    font-family: misterioFont;
    color: indigo;
    font-weight: normal;
  }
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
