<!DOCTYPE html>
<head>
  <title>ChatRPG</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='media/icon.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='media/icon.png') }}" class="icon" />
  <h3></h3>
  <form action="/fantasia" method="post">
    <input type="text" name="name" placeholder="Introduce tu nombre" required />
    <input class="fantasiaButton" type="submit" value="Generar Historia" />
  </form>
  {% if result %}
  <div class="result">
    <img class="imagenCreada" src="{{ imgUrl }}" alt="Imagen Creada">
    <p class="resultTexto">{{ result }}</p>
  </div>
  {% endif %}
</body>
