<!DOCTYPE html>
<head>
  <title>ChatRPG</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='media/icon.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
  <div class="contenido">
    <img src="{{ url_for('static', filename='media/icon.png') }}" class="icon" />
    <h3>Bienvenido a <span class="tituloFontChange">ChatRPG</span></h3>
    <p>Elige tu viaje:</p><br>
    <div class="buttons">
      <button class="fantasiaButton" onclick="window.location.href='/fantasia'">Fantasia</button>
      <button class="scifiButton" onclick="window.location.href='/scifi'">Ciencia Ficcion</button>
      <button class="terrorButton" onclick="window.location.href='/terror'">Terror</button>
      <button class="historicoButton" onclick="window.location.href='/historico'">Historico</button>
      <button class="postapoButton" onclick="window.location.href='/postapo'">Post-Apocaliptico</button>
      <button class="misterioButton" onclick="window.location.href='/misterio'">Misterio</button>
    </div>
  </div>
  <footer>
    <p>ChatRPG &copy; 2023</p>
  </footer>
</body>
