<!DOCTYPE html>
<head>
  <title>ChatRPG</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='media/icon.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
  <a href="/"><img src="{{ url_for('static', filename='media/icon.png') }}" class="icon" /></a>
  <div class="result">
    <div class="imagenCreada" style="display: none;"></div>
    <p class="resultTexto" style="display: none;"></p>
    <div class="loading" style="display: none;">
      <img src="{{ url_for('static', filename='media/loading.gif') }}" alt="Loading...">
    </div>    
  </div>  
  <form action="/misterio" method="post" onsubmit="event.preventDefault(); getApiResponse();">
    <input type="text" name="userInput" id="userInput" placeholder="Introduce tu nombre" required />
    <input class="misterioButton" type="submit" value="Generar historia" style="width:325px;"/>
  </form>
  <footer>
    <p>ChatRPG &copy; 2023</p>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script>
    function getApiResponse() {
      const userInput = $("#userInput").val();
      $(".resultTexto").hide();
      $(".imagenCreada").hide();
      $(".loading").show();
    
      $.ajax({
        url: "/apiCall",
        type: "POST",
        data: {
          userInput: userInput,
        },
        success: function(response) {
          $(".resultTexto").html(response.result);
          $(".resultTexto").show();
    
          if (response.imgUrl) {
            $(".imagenCreada").html(`<img src="${response.imgUrl}" alt="Generated Image" id="imagen" />`);
            $(".imagenCreada").show();
          }

          $(".loading").hide();

          $("#userInput").attr("placeholder", "");
          $("#userInput").val("");
          $(".fantasiaButton").val("Continuar");

          if('speechSynthesis' in window){
            const tts = new SpeechSynthesisUtterance();
            tts.lang = 'es';

            tts.text = response.result;

            speechSynthesis.speak(tts);
          } else {
            alert("Tu navegador no soporta la API de voz");
          }
        },
        error: function(error) {
          console.log("Error:", error);
        },
      });
    }
    </script>
    
</body>
